<div class="row">
	<div class="col-md-6">
	  <div class="panel panel-default left-col">
	    <div class="panel-heading">
	      <img src='<%= quote.picture %>' class="image pull-right">
	      <div class="author-bio">
	      	Name: <%= quote.author %><br>	
	      	Title: <%= quote.position %><br>	
	        Company: <%= quote.employer %><br>
	        Years Programming: <%= quote.years_programming %><br>	
	      </div>
	    </div>
	    <div class="panel-body">
		  	<%= quote.advice %> 
		  </div>
		</div>
	</div>
</div>
